<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GroundExploded0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{1608,1652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2ba00752c7f0034a3267a35fd6143a3:e4d03fabe0a48633a7cc9728144c4105:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
