<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GroundExploded0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{1608,1652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50bcc3db3e9caf030736bc198e648e60:c93d602371135c2e7acb136df4db8909:c6dbde1693599f6671c0dc889ed7f1c3$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
