<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GroundExploded0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>7.png</string>
            <key>size</key>
            <string>{1608,1652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24e79abe2e0f86a26d4d3763d32161e2:c74fc3eefd2ede77579730a8b17f1b90:41a2272e7348b624f834a359c7d08551$</string>
            <key>textureFileName</key>
            <string>7.png</string>
        </dict>
    </dict>
</plist>
