<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GroundExploded0085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0095.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{536,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{1072,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>8.png</string>
            <key>size</key>
            <string>{1608,1652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46c18c93abdb5dce744082922d806d20:db6f30c6c2142f8845d3f69d7d983b5c:d49ca568aef5a9fc2acc5f0712bdd287$</string>
            <key>textureFileName</key>
            <string>8.png</string>
        </dict>
    </dict>
</plist>
