<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GroundExploded0097.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,0},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,413},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,826},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GroundExploded0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,413}</string>
                <key>spriteSourceSize</key>
                <string>{536,413}</string>
                <key>textureRect</key>
                <string>{{0,1239},{536,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>9.png</string>
            <key>size</key>
            <string>{536,1652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b4e3a50f8590dd709223be1ba6ec24:b5d28f100ef0f10f96850e6197223763:4b13a24e39cdde2cfb0cefc6ae3c5b53$</string>
            <key>textureFileName</key>
            <string>9.png</string>
        </dict>
    </dict>
</plist>
