<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Neo Geo NGCD - Shock Troopers - Tank Elite (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,37}</string>
                <key>spriteSourceSize</key>
                <string>{71,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Neo Geo NGCD - Shock Troopers - Tank Elite (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,46}</string>
                <key>spriteSourceSize</key>
                <string>{65,46}</string>
                <key>textureRect</key>
                <string>{{71,0},{65,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Neo Geo NGCD - Shock Troopers - Tank Elite (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{142,0},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Neo Geo NGCD - Shock Troopers - Tank Elite (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{213,0},{46,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Neo Geo NGCD - Shock Troopers - Tank Elite (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{284,0},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tank_friendly1_gun.png</string>
            <key>size</key>
            <string>{355,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eb95ae1f9b9cdd0c630df0b140fb1e7:8f70337b2391d6e0bd03824ca5c96cb1:c142c68e64cb78d7f2a00cba1c1a62c8$</string>
            <key>textureFileName</key>
            <string>tank_friendly1_gun.png</string>
        </dict>
    </dict>
</plist>
