<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SmokePuff02ParticleSheet (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,499}</string>
                <key>spriteSourceSize</key>
                <string>{541,499}</string>
                <key>textureRect</key>
                <string>{{1490,463},{541,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,529}</string>
                <key>spriteSourceSize</key>
                <string>{526,529}</string>
                <key>textureRect</key>
                <string>{{553,962},{526,529}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{469,541}</string>
                <key>spriteSourceSize</key>
                <string>{469,541}</string>
                <key>textureRect</key>
                <string>{{1079,962},{469,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,499}</string>
                <key>spriteSourceSize</key>
                <string>{553,499}</string>
                <key>textureRect</key>
                <string>{{0,962},{553,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,444}</string>
                <key>spriteSourceSize</key>
                <string>{414,444}</string>
                <key>textureRect</key>
                <string>{{516,0},{414,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,415}</string>
                <key>spriteSourceSize</key>
                <string>{516,415}</string>
                <key>textureRect</key>
                <string>{{0,0},{516,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,469}</string>
                <key>spriteSourceSize</key>
                <string>{517,469}</string>
                <key>textureRect</key>
                <string>{{0,463},{517,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,445}</string>
                <key>spriteSourceSize</key>
                <string>{523,445}</string>
                <key>textureRect</key>
                <string>{{930,0},{523,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,463}</string>
                <key>spriteSourceSize</key>
                <string>{468,463}</string>
                <key>textureRect</key>
                <string>{{1453,0},{468,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,541}</string>
                <key>spriteSourceSize</key>
                <string>{487,541}</string>
                <key>textureRect</key>
                <string>{{1548,962},{487,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,487}</string>
                <key>spriteSourceSize</key>
                <string>{463,487}</string>
                <key>textureRect</key>
                <string>{{1027,463},{463,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SmokePuff02ParticleSheet (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,475}</string>
                <key>spriteSourceSize</key>
                <string>{510,475}</string>
                <key>textureRect</key>
                <string>{{517,463},{510,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>11.png</string>
            <key>size</key>
            <string>{2035,1503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9042e0c86849d11286aa52555610d12a:b05fe20fca055f651a6ebf40e060da29:858e50caa60b1aa72adf72e171d4b558$</string>
            <key>textureFileName</key>
            <string>11.png</string>
        </dict>
    </dict>
</plist>
