<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Custom Edited - Metal Slug Customs - Girida-G (3) (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,62}</string>
                <key>spriteSourceSize</key>
                <string>{37,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{37,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Custom Edited - Metal Slug Customs - Girida-G (3) (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{48,57}</string>
                <key>textureRect</key>
                <string>{{81,0},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Custom Edited - Metal Slug Customs - Girida-G (3) (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{162,0},{64,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Custom Edited - Metal Slug Customs - Girida-G (3) (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,37}</string>
                <key>spriteSourceSize</key>
                <string>{76,37}</string>
                <key>textureRect</key>
                <string>{{243,0},{76,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Custom Edited - Metal Slug Customs - Girida-G (3) (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,33}</string>
                <key>spriteSourceSize</key>
                <string>{81,33}</string>
                <key>textureRect</key>
                <string>{{324,0},{81,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tank_ememy1_gun.png</string>
            <key>size</key>
            <string>{405,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1066e7402ff070b0d8bfcf1edea6cb0c:a1392b75c8718b06383f9abbcbe5e93f:873ecca957aaf8632f6c49f3e75fd381$</string>
            <key>textureFileName</key>
            <string>tank_ememy1_gun.png</string>
        </dict>
    </dict>
</plist>
